.companyName{
  font-size: 1.3rem;
}
div {
  overflow: inherit;
}
a{
  text-decoration: none;
  white-space: normal;
  font-size: 1rem;
}
button{
  min-width: min-content;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav-content{
}
