<mat-card class="ant-col-md-12 ant-col-md-offset-6 ant-col-24">
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="ant-col-24">
            <input type="text" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="RegisterForm.get('email').hasError('email')">
              Email is <strong>invalid!</strong>
            </mat-error>
            <mat-error *ngIf="RegisterForm.get('email').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="ant-col-24">
            <input type="text" matInput placeholder="UserName" formControlName="username">
            <mat-error *ngIf="RegisterForm.get('username').hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="ant-col-24">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="RegisterForm.get('username').hasError('required')">
              password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="ant-col-24">
            <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
            <mat-error *ngIf="RegisterForm.get('confirmPassword').hasError('required')">
              password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </p>
      <div *ngIf="error" class="error ant-col-24">
        <p style="text-align: center; font-size: 16px" *ngIf="error"> {{ error }}</p>
      </div>
      <br>
      <div class="button ant-col-24">
        <button [disabled]="!this.RegisterForm.valid" type="submit"  color="primary" mat-raised-button mat-button>Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
