<h1 style="text-align: center">Lots Page</h1>
<mat-divider></mat-divider>
<br>
<div class="ant-col-24">
  <button type="submit"  color="primary" mat-raised-button mat-button [routerLink]="['/lot/my-lots/' + this.id]" routerLinkActive="router-link-active">My lots</button>
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


  <!-- <ng-container  matColumnDef="Position">
    <th style="width: 5%" mat-header-cell *matHeaderCellDef  mat-sort-header> Id </th>
    <td style="width: 5%" mat-cell *matCellDef="let item"> {{item.id}} </td>
  </ng-container> -->


  <ng-container matColumnDef="Name">
    <th style="width: 85%" mat-header-cell *matHeaderCellDef> Name </th>
    <td style="width: 85%; text-decoration: none; color: aqua" mat-cell *matCellDef="let item"> <a [routerLink]="['/lot/'] + item.id" routerLinkActive="router-link-active" >{{item.name}}</a> </td>
  </ng-container>


  <ng-container matColumnDef="Price">
    <th style="width: 10%" mat-header-cell *matHeaderCellDef  mat-sort-header> Price </th>
    <td style="width: 10%" mat-cell *matCellDef="let item"> {{item.price}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[20, 50, 100, 200, 500]" [pageSize]="20"></mat-paginator>
</div>
