<div style="height: 86vh;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>E-MARKETPLACE</span>
    </a>
    <span class="example-spacer"></span>



    <div fxShow="true" fxHide.lt-md="true">
      <!-- No auth -->
      <ng-container *ngIf="!this.isAuth; else ToolBarAuth">

          <a mat-button routerLink="/login">Sign In</a>
          <a mat-button routerLink="/register">Register</a>


      </ng-container>
  <!-- Auth -->
      <ng-template #ToolBarAuth>
          <a mat-button routerLink="/profile">
            <span>Profile</span>
          </a>
          <a mat-button routerLink="/profile/messages">
            <span>Messages</span>
          </a>
        <a mat-button routerLink="/sales">
          <span matBadge="0" matBadgeColor="accent" matBadgeOverlap="false">My sales</span>
        </a>
        <a mat-button routerLink="/purchases">
          <span matBadge="0" matBadgeColor="accent" matBadgeOverlap="false">My purchases</span>
        </a>
        <a mat-button routerLink="/login">
          <span>Sign Out</span>
        </a>
      </ng-template>
  </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <ng-container *ngIf="!this.isAuth; else SideBarAuth">
            <a mat-button routerLink="/login">Sign In</a>
            <a mat-button routerLink="/register">Register</a>
        </ng-container>
        <ng-template #SideBarAuth>
            <a mat-button routerLink="/Trades">
              <span>Profile</span>
            </a>

          <a mat-button routerLink="/sales">
            <span matBadge="0" matBadgeColor="accent" matBadgeOverlap="false">My sales</span>
          </a>
          <a mat-button routerLink="/purchases">
            <span matBadge="0" matBadgeColor="accent" matBadgeOverlap="false">My purchases</span>
          </a>
          <a mat-button routerLink="/login">
            <span>Sign Out</span>
          </a>
        </ng-template>


      </div>
    </mat-sidenav>
    <mat-sidenav-content  fxFlexFill>
      <div style="min-height: 92.5% !important">
          <div class="container">
              <router-outlet></router-outlet>
          </div>

          <ngx-spinner
          bdColor = "#fff"
          size = "large"
          color = "#3f51b5"
          type = "ball-clip-rotate"
          [fullScreen] = "false"
          >
          </ngx-spinner>
      </div>



      <mat-toolbar color="primary" style="text-align: center" >

        <a mat-button  href="https://angular.io">
          <span>Powered by ANGULAR</span>
        </a>
        <span class="example-spacer"></span>

      </mat-toolbar>


    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
